---
layout: compress
---

<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/about.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title"><br /><br />{{ page.title }}</h1>
        <span>
          <a class="header__link" href="{{ '/about_chinese' | relative_url }}" itemprop="url"><span itemprop="name" style="color: azure;">中文</span></a>|
          <a class="header__link" href="{{ '/about_english' | relative_url }}" itemprop="url"><span itemprop="name" style="color: azure;">English</span></a>
          <p class="hero__meta">
            <br /><br /><br />
          </p>
        </span>
      </div>
    </div>
    <div style="width: 100%;">
        <h1 style="text-align: center;">Handan YU</h1>
        <div style="text-align: center;">
        <a>handany@student.unimelb.edu.au | +86 17857312377 | https://www.linkedin.com/in/handanyu</a>
        </div>
        <div style="padding-left: 10rem;padding-right: 10rem;padding-top: 2rem;">
        <h2>EDUCATION</h2>
        <div style="border:1px solid rgba(3, 3, 3)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Master of Information Technology - Artificial Inteligence</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: right;">
                <h3 style="text-align: right;">Jul 2021 - Jul 2023</h3>
            </div>
        </div>
            <div>
            <h4>The University of Melbourne</h4>
            <li>Currently completing courses in machine learning, algorithm and complexity</li>
        </div>
        <div style="border:0.5px solid rgba(58, 55, 55, 0.2)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Bachelor of Science/Information and computing science</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: right;">
                <h3 style="text-align: right;">Sep 2017 - Jul 2021</h3>
            </div>
        </div>
            <div>
            <h4>Hangzhou Normal University</h4>
            <ul>
            <li>Graduated summa cum laude-4.28/5.0 GPA</li>
            <li>Received First-class scholarship for outstanding students several times</li>
            <li>Won Honourable Mention Award in Mathematical Contest in Modelling</li>
            <li>Graduation project: <a href="https://github.com/yuhandan/EM_project">Research on the sensitiveness of EM algorithm for the clustering</a></li>
        </ul>
        </div>
        
        <h2>RELEVANT EXPERIENCE</h2>
        <div style="border:1px solid rgba(3, 3, 3)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Software Developer</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: left;">
                <h3 style="text-align: right;">Sep 2021 - Jan 2022</h3>
            </div>
        </div>
            <div>
            <h4>Bosch Power Tools China Co., Ltd, Hangzhou, Zhejiang, China</h4>
            <ul>
                <li>Collaborated with team for demand collection and architectural decisions</li>
                <li>Architected, designed, and developed management software's front-end and back-end utilizing 
                    pySimpleGUI tool to meet with demand of projects' capacity planning</li>
                <li>Reprocessed data using Pandas in Python to reduce redundancy of data</li>
                <li>Improved management efficiencies and implement reasonable allocation of capacity</li>
            </ul>
        </div>
        <div style="border:0.5px solid rgba(58, 55, 55, 0.2)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Algorithm Engineer</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: left;">
                <h3 style="text-align: right;">Mar 2021 - Jun 2021</h3>
            </div>
        </div>
            <div>
            <h4>GuanData Co., Ltd, Hangzhou, Zhejiang, China</h4>
            <ul>
                <li>Assisted algorithm engineer to analyse daily output data using Pandas, write Error Analysis reports</li>
                <li>Collaborated with algorithm teams to cluster customers into small-customers or large-customers via 
                    KMeans algorithm. Designed and accomplished Kanban logics via MySQL</li>
                <li>Redesigned code architecture according to Pipeline to make it easy to review and debug</li>
                <li>Cooperated with algorithm teams to manage projects using git</li>
            </ul>
        
        </div>
        <div style="border:0.5px solid rgba(58, 55, 55, 0.2)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Assistant of algorithm engineer</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: left;">
                <h3 style="text-align: right;">Dec 2020 - Mar 2021</h3>
            </div>
        </div>
            <div>
            <h4>HikRobot Technology Co., Ltd, Hangzhou, Zhejiang, China</h4>
            <ul>
                <li>Created script using Halcon and pyzbar to tag QR code and barcode to reduce manual operation; increased 
                    efficiency of tagging by 30%</li>
                <li>Created and developed automation script for model training on VM software using pywinauto and 
                    pyautoGUI to remove manual execution; reduced total model training time by 20%</li>
                <li>Assisted deep learning team with collecting training datasets, training target detection algorithm models and performing data verification</li>
            </ul>
        </div>
      
        

        <h2>RELEVANT PROJECT WORK</h2>
        <div style="border:1px solid rgba(3, 3, 3)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Team leader</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: left;">
                <h3 style="text-align: right;">Feb 2020 - Feb 2020</h3>
            </div>
        </div>
            <div>
            <h4>Mathematical Contest in Modeling/ The Interdisciplinary Contest in Modeling </h4>
            <ul>
                <li>Conducted a research on migration of Scotland fish based on LSTM</li>
                <li>Design LSTM model to predict temperature of sea surface in coming 50 yeara. The MSE of final model is as low as 3.19 Fahrenheit degrees</li>
                <li>Reprocessed data using Pandas in Python to reduce redundancy of data</li>
                <li>Improved management efficiencies and implement reasonable allocation of capacity</li>
            </ul>
        </div>
        <div style="border:0.5px solid rgba(58, 55, 55, 0.2)"></div>
        <div style="width: 100%; height: 2rem;">
            <div style="width: 70%; height: 2rem; float: left;">
                <h3>Team leader</h3>
            </div>
            <div style="width: 30%; height: 2rem; float: left;">
                <h3 style="text-align: right;">Sep 2019 - Sep 2019</h3>
            </div>
        </div>
            <div>
            <h4>China Mathematical Modelling Competition</h4>
            <ul>
                <li>Accomplished a research on taxi scheduling in airport based on queuing theory</li>
                <li>Pre-processed data and implemented feature selection</li>
                <li>Built reasonable taxi scheduling model according to real situation of Shanghai Pudong Airport to decrease 
                    waiting time of both customers and drivers</li>
            </ul>
        </div>
        <h2>PUBLICATION</h2>
        <div style="border:1px solid rgba(3, 3, 3)"></div>
        <ul>
            <li> The Fish Migration Problem in the Scotland Based on LSTM-RNN, Advanced in Applied Mathematics, 2020, 
                9(6), 935-946</li>
            <li>The Influence of 'Internet+' Public Welfare Mode on the Implementation of public welfare - A Case Study of 
                Hangzhou, Advanced in Statistics and Application, 2020, 9(2), 208-217</li>
            <li>Taxi Assignment Problem in the Airport Based on Queue Theory, Advanced in Applied Mathematics, 2019, 
                8(12), 1905-1920</li>
        </ul>
        <h2>TECHNICAL SKILLS</h2>
        <div style="border:1px solid rgba(3, 3, 3)"></div>
        <ul>
            <li>Proficient in processing and visualizing data using Python, specially Pandas, numpy and matplotlib 
                packages</li>
            <li>Excels at MySQL to insert, delete, search, edit data from databases</li>
            <li>Extensive and in-depth knowledge of Machine Learning</li>
            <li>Familiar with the mechanism of Hadoop, Spark; Skilled at transforming complex problems to mathematical 
                modellings</li>
        </ul>
    </div>

    </div>
    <!-- <main class="site__content">

      <div class="container">
        <div class="page-content">

          {{ content }}

        </div>
      </div>
      
    </main> -->

    {% include footer.html %}

  </body>

</html>
