---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/Sleek_lg.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Diana's Blog</h1>
        <p class="hero__meta">This site mainly contains some blogs which were concluded during my studying periods. Currently, lots of contents are written in Notion Blog, you can look through <a href="https://inquisitive-charger-3f8.notion.site/Diana-s-Home-Page-1881c8286de94552873577bd8918d943" style="color:bisque;font-weight: bold;">Notion Blog</a></body> </p>
      </div>
    </div>
    <div class="content_container">
    <div style="width: 80%;height: 100%;float: left;">
    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
    </div>
    <div style="width: 20%;height: 40%;float: right;padding-top: 5rem;background-color:rgba(214, 217, 218, 0.2);">
      <div style="width: 100%; height: 40%;float: right;padding-top: 2rem;background-color: rgb(153, 188, 209,0.2);">
        <div style="color: black; text-align: center;" >
          <h3>Categories</h3>
        </div>
        <div style="color: rgb(86, 105, 187);align-content: center;">
          <ul>
          {% for category in site.categories %}
          <li>
            <a href='{{ site.url }}/{{ category[0] }}/' style="font-size: 18px; font-weight:bold ; color: rgb(86, 105, 187);">{{ category[0] }}</a>
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
    {% include footer.html %}

  </body>

</html>
