---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">
  <head>
    <style type="text/css">
      a:link {
        color: #404040;
      }
    
      a:hover {
        color: rgb(69, 121, 122)
      }
    
      a:active {
        color: rgb(69, 121, 122)
      }
    </style>
{% include head.html %}
<head>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']],
        processEnvironments: true,
        processRefs: true
      },
      options: {
        skipHtmlTags: ['noscript', 'style', 'textarea', 'pre', 'code'],
        ignoreHtmlClass: 'tex2jax_ignore',
        renderActions: {
          find_script_mathtex: [10, function (doc) {
            for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = { node: text, delim: '', n: 0 };
              math.end = { node: text, delim: '', n: 0 };
              doc.math.push(math);
            }
          }, '']
        }
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.staticfile.org/mathjax/3.0.1/es5/tex-svg.js"></script>
  <script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body class="site">

{% if site.google_tag_manager %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% endif %}

{% include header.html %}

  {% if page.featured-img %}
<div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/post.jpg">
    {% else %}
    <div class="hero dark-bg">
      {% endif %}
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
        <p class="hero__meta">
            <span>
              <time>{{ page.date | date_to_string }}</time>&nbsp;
            </span>
          <span>
              {% assign words = content | number_of_words %}
                {% if words < 360 %}
                  1 min
                {% else %}
                  {{ words | divided_by:180 }} mins
              {% endif %} read
              &nbsp;
          </span>
        </p>
      </div>
    </div>
  </div>
<div style="width: 95%;">
<div style="-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.7;
font-size: 16px;
color: #404040;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 66.66666667%;
margin-left: 8.33333333%;
margin-bottom: 15px;">
  <main class="site__content">
    <div class="container">
      <article class="post-content" itemprop="articleBody">
        
        {{ content }}

      </article>
      <div class="post-content controls__inner">
        <div class="controls__item prev">
          {% if page.previous.url %}

          <span>Previous</span>
          <a href="{{page.previous.url | relative_url }}">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11">
                    <path fill="fillColor" d="M5.647 1.718c.37-.434.323-1.09-.106-1.465A1.016 1.016 0 0 0 4.095.36L.25 4.875a1.05 1.05 0 0 0 .017 1.378l3.95 4.407c.38.424 1.03.456 1.448.07a1.05 1.05 0 0 0 .07-1.468l-3.34-3.725 3.253-3.819z"/>
                  </svg>
              </span>
            {{page.previous.title | strip_html | truncate: 30}}
          </a>
          {% endif %}
        </div>

        <div class="controls__item next">
          {% if page.next.url %}
          <span>Next</span>
          <a href="{{page.next.url | relative_url }}">
            {{page.next.title | strip_html | truncate: 30}}
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11">
                  <path fill="#fillColor" d="M.353 9.282c-.37.434-.323 1.09.106 1.465a1.016 1.016 0 0 0 1.446-.107L5.75 6.125a1.05 1.05 0 0 0-.017-1.378L1.784.34A1.015 1.015 0 0 0 .336.27a1.05 1.05 0 0 0-.07 1.468l3.34 3.725L.353 9.282z"/>
                </svg>
              </span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>

    {% if site.disqus.shortname %}

    <div class="comments">
      <div class="container">
        <div class="post-content">

          {% include disqus.html %}

        </div>
      </div>
    </div>

    {% endif %}

  </main>
  {% include footer.html %}
</div>
<div style="-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.7;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
width: 25%;
margin-left: 0;
color:powderblue;
font-size: 14px;">
  <section style="padding-top: 10em; display: block;">
    <h2 style="text-align: center; background-color:rgba(136, 210, 233, 0.1)">Catalogue</h2>
    {% include toc.html html=content %}
  </section>
  <hr>
<section>
<h2 style="text-align: center; background-color: rgba(136, 210, 233, 0.1)">Relative Blogs</h2>
<ul>
  {% for category in site.categories %}
  {% if category.first == page.category %}
  {% for post in category.last %}
  <li>
    <a href="{{ post.url | relative_url }}" style="color:black"><span>{{ post.title }}</span></a>
  </li>
  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
</section>

</div>
</div>

  

</body>

</html>
