.container {
  padding: 0 20px;

  @include breakpoint($xs) {
    @include container(auto);
  }

  @include breakpoint($sm) {
    @include container(540px);
  }

  @include breakpoint($md) {
    @include container(720px);
  }

  @include breakpoint($lg) {
    @include container(960px);
  }

  @include breakpoint($xl) {
    @include container(1170px);
  }
}
.content_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.right {
    width: 80%;
    height: 100%;
    float: left;
}
.left {
    width: 20%;
    height:100%;
    float: right;
}
